################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mods/.vs/SpaceEngineersMods/v16
/mods/RealisticImprovedSolarPanel/bin/Debug
/mods/RealisticImprovedSolarPanel/obj/Debug
/scripts/.vs/SpaceEngineersScripts/v16
/mods/RealisticLightSettings/bin/Debug
/mods/RealisticLightSettings/obj/Debug
