################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mods/.vs/SpaceEngineersMods/v16
/mods/RealisticImprovedSolarPanel/bin/Debug
/mods/RealisticImprovedSolarPanel/obj/Debug
/scripts/.vs/SpaceEngineersScripts/v16
/mods/RealisticLightSettings/bin/Debug
/mods/RealisticLightSettings/obj/Debug
/mods/Smart Turret 2/bin/Debug
/mods/Smart Turret 2/obj/Debug
/mods/Smart Turret 2 - Copy
/mods/RealisticImprovedSolarPanelForTTB/obj/Debug
/mods/RealisticImprovedSolarPanelForTTB/bin/Debug
/scripts/ToggleBlock/bin
/scripts/ToggleBlock/obj/x64/Debug
/mods/RealisticTurretAI/bin/Debug
/mods/RealisticTurretAI/obj/Debug
/mods/EnergySignatureTest/bin/Debug
/mods/EnergySignatureTest/obj/Debug
/mods/EnergySignatures/obj/Debug
/mods/EnergySignatures/bin/Debug
/mods/RealisticWindTurbines/bin/Debug
/mods/StaticSubgrids/bin/Debug
/mods/StaticSubgrids/obj/Debug
